# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv/
.env.local

# Input and output directories
input/
output/

# Testing
tests/
.pytest_cache/

# Linter cache
.ruff_cache/