# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/

# Virtual environments
.venv/

# Input and output directories
input/
output/
data/

# Testing
tests/
.pytest_cache/

# Linter cache
.ruff_cache/

# Rclone config
rclone.conf

# Environment variables
.env